@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .bannerIcon {
    @apply w-16 h-16 bg-black bg-opacity-25 text-gray-200 text-xl inline-flex items-center justify-center rounded-md shadow-shadowOne hover:bg-opacity-40 hover:-translate-y-1 transition-all hover:text-designColor cursor-pointer duration-300;
  }
  .skills-bannerIcon{
    @apply w-[130px] h-[130px] bg-black bg-opacity-25 text-gray-200 text-xl inline-flex items-center justify-center rounded-md shadow-shadowOne hover:bg-opacity-40 hover:-translate-y-1 transition-all hover:text-designColor cursor-pointer duration-300;

  }
  .resumeLi {
    @apply w-full h-20 bg-black bg-opacity-25 text-xl text-gray-300 flex justify-center cursor-pointer hover:bg-opacity-40 duration-300 items-center border-[1px] rounded-none;
  }
  .bgOpacity {
    @apply bg-black bg-opacity-40;
  }
  .contactInput {
    @apply w-full h-12 rounded-lg border-b-[1px] border-b-gray-600 bg-[#000000] text-lightText px-4 active:outline-none focus-visible:outline-designColor outline-none focus-visible:border-b-transparent duration-300;
  }
  .contactTextArea {
    @apply w-full rounded-lg border-b-[1px] border-b-gray-600 bg-[#000000] text-lightText px-4 py-2 active:outline-none focus-visible:outline-designColor outline-none focus-visible:border-b-transparent duration-300 resize-none;
  }
}
.footer-transform{
  opacity: 1 !important;
  transform: translateY(0px) translateZ(0px) !important;
}
.active {
  color: white;
}
.scrollbar-hide::-webkit-scrollbar {
  display: none;
}
.skills-bannerIcon svg{
  height: 50px;
  width: 50px;
}
.bg-gradient-to-r{
 background: #161616;
 border: 1px solid #303033;
}
.bg-gradient-to-r:hover{
  background: #1f1f1f !important;
}

.slick-dots{
  display: none;
}
.tossing:hover {
  animation-name: tossing;
  -webkit-animation-name: tossing;
  animation-duration: 2.5s;
  -webkit-animation-duration: 2.5s;
  animation-iteration-count: infinite;
  -webkit-animation-iteration-count: infinite;
}
.animate-marquee-main{
  margin-left: calc(50% - 50vw) !important;
  margin-right: calc(50% - 49vw) !important;
  max-width: 1000%;
}

@keyframes tossing {
  0% {
    transform: rotate(-4deg);
  }
  50% {
    transform: rotate(4deg);
  }
  100% {
    transform: rotate(-4deg);
  }
}

@-webkit-keyframes tossing {
  0% {
    -webkit-transform: rotate(-4deg);
  }
  50% {
    -webkit-transform: rotate(4deg);
  }
  100% {
    -webkit-transform: rotate(-4deg);
  }
}

/* bigEntrance */
.bigEntrance {
  animation-name: bigEntrance;
  -webkit-animation-name: bigEntrance;
  animation-duration: 1.6s;
  -webkit-animation-duration: 1.6s;
  animation-timing-function: ease-out;
  -webkit-animation-timing-function: ease-out;
  visibility: visible !important;
  animation-count: 1;
  animation-delay: 1s;
}

.bannerIcon svg {
  width: 30px !important ;
  height: 30px !important ;
}
@keyframes bigEntrance {
  0% {
    transform: scale(0.3) rotate(6deg) translateX(-30%) translateY(30%);
    opacity: 0.2;
  }
  30% {
    transform: scale(1.03) rotate(-2deg) translateX(2%) translateY(-2%);
    opacity: 1;
  }
  45% {
    transform: scale(0.98) rotate(1deg) translateX(0%) translateY(0%);
    opacity: 1;
  }
  60% {
    transform: scale(1.01) rotate(-1deg) translateX(0%) translateY(0%);
    opacity: 1;
  }
  75% {
    transform: scale(0.99) rotate(1deg) translateX(0%) translateY(0%);
    opacity: 1;
  }
  90% {
    transform: scale(1.01) rotate(0deg) translateX(0%) translateY(0%);
    opacity: 1;
  }
  100% {
    transform: scale(1) rotate(0deg) translateX(0%) translateY(0%);
    opacity: 1;
  }
}

@-webkit-keyframes bigEntrance {
  0% {
    -webkit-transform: scale(0.3) rotate(6deg) translateX(-30%) translateY(30%);
    opacity: 0.2;
  }
  30% {
    -webkit-transform: scale(1.03) rotate(-2deg) translateX(2%) translateY(-2%);
    opacity: 1;
  }
  45% {
    -webkit-transform: scale(0.98) rotate(1deg) translateX(0%) translateY(0%);
    opacity: 1;
  }
  60% {
    -webkit-transform: scale(1.01) rotate(-1deg) translateX(0%) translateY(0%);
    opacity: 1;
  }
  75% {
    -webkit-transform: scale(0.99) rotate(1deg) translateX(0%) translateY(0%);
    opacity: 1;
  }
  90% {
    -webkit-transform: scale(1.01) rotate(0deg) translateX(0%) translateY(0%);
    opacity: 1;
  }
  100% {
    -webkit-transform: scale(1) rotate(0deg) translateX(0%) translateY(0%);
    opacity: 1;
  }
}
@media screen and (max-width: 1060px) {
  .animate-marquee-main{
    margin-right: calc(50% - 47vw) !important;
  }
  }
@media screen and (max-width: 375px) {
  .m-header{
    min-height: calc(100vh - -500px);
  }
 .responsiv-footer{
   text-align: center;
   row-gap: 30px;
   flex-direction: column;
 }
}
@media screen and (max-width: 676px) {
 .height-box{
   height: 100% !important;
 }
 .responsive-menu{
   align-items: flex-start !important;
 }
 .cursor{
  display: none;
 }
}
@media screen and (max-width: 450px) {
  .bannerIcon{
    width: 50px;
    height: 50px;
  }
  .main-title{
    height: 80px;
  }
  }

  .snip1226 * {
    box-sizing: border-box;
    -webkit-transition: all 0.35s ease;
    transition: all 0.35s ease;
  }
  .snip1226 li {
    display: inline-block;
    list-style: outside none none;
    /* margin: 0 1.5em; */
    overflow: hidden;
  }
  .snip1226 a {
    padding: 0.3em 0;
    color: rgba(255, 255, 255, 0.5);
    position: relative;
    display: inline-block;
    letter-spacing: 1px;
    margin: 0;
    text-decoration: none;
  }
  .snip1226 a:before,
  .snip1226 a:after {
    position: absolute;
    -webkit-transition: all 0.35s ease;
    transition: all 0.35s ease;
  }
  .snip1226 a:before {
    bottom: 100%;
    display: block;
    height: 3px;
    width: 100%;
    content: "";
    background-color: #00ff00;
  }
  .snip1226 a:after {
    padding: 0.3em 0;
    position: absolute;
    bottom: 100%;
    left: 0;
    content: attr(data-hover);
    color: white;
    white-space: nowrap;
  }
  .snip1226 li:hover a,
  .snip1226 .current a {
    transform: translateY(100%);
  }
  
  .snip1226 a.active{
    color: #ffffff;
    border-bottom: 2px solid #00ff00;
  }

  .cursor-active {
    -webkit-transform: translate(-50%, -50%) scale(8);
    -ms-transform: translate(-50%, -50%) scale(8);
    transform: translate(-50%, -50%) scale(8);
    opacity: .1;
  }

  .social-text .rolling-text {
    line-height: 30px;
    height: 30px;
  }

  .button {
    padding: 30px 50px;
    border: 5px solid black;
    transition: 0.2s ease;
    margin-top: 50px;
    cursor: pointer;
    width: 200px;
  }
  .button_text {
    font-family: Montserrat;
    font-size: 18px;
    /* font-weight: bold; */
    /* pointer-events: none; */
    cursor: pointer !important;
  }
  .button_text a{
    cursor: pointer;
  }
  .button:hover {
    background: #4affe4;
  }

  .hover-this .hover-anim {
    pointer-events: none;
    -webkit-transition: -webkit-transform 0.2s linear;
    transition: -webkit-transform 0.2s linear;
    -o-transition: transform 0.2s linear;
    transition: transform 0.2s linear;
    transition: transform 0.2s linear, -webkit-transform 0.2s linear;
  }
  .cursor {
    pointer-events: none;
    position: fixed;
    padding: 0.6rem;
    background-color: #fff;
    border-radius: 50%;
    mix-blend-mode: difference;
    -webkit-transition: opacity 0.4s ease, -webkit-transform 0.3s ease;
    transition: opacity 0.4s ease, -webkit-transform 0.3s ease;
    -o-transition: transform 0.3s ease, opacity 0.4s ease;
    transition: transform 0.3s ease, opacity 0.4s ease;
    transition: transform 0.3s ease, opacity 0.4s ease, -webkit-transform 0.3s ease;
    z-index: 99999;
  }
  
  .cursor-active {
    -webkit-transform: translate(-50%, -50%) scale(5);
    -ms-transform: translate(-50%, -50%) scale(5);
    transform: translate(-50%, -50%) scale(5);
    opacity: .1;
  }

  .navbar {
    top: 0;
    left: 0;
    right: 0;
    /* background-color: #333; Example background color */
    transition: transform 0.5s ease; /* Smooth transition */
}

  .navbar-hidden {
    transform: translateY(-100%);
  }