
.marquee {
  --gap: 2px;
  --duration: 5s;
  background-color: cornflowerblue;
  display: flex;
  gap: var(--gap);
  overflow: hidden;
  white-space: nowrap;
}



.marquee__wrapper { 
  display: flex;
  flex-shrink: 0;
  gap: var(--gap);
  justify-content: space-around;
  min-width: 100%;
  padding-block: 30px;
}

.marquee__wrapper svg {
  height: 5rem;
}

.marquee__wrapper--a {
  animation: 
    var(--duration) slide-1 1 linear, 
   calc(var(--duration) * 2) slide-2 var(--duration) infinite linear; 
  /* // background-color: cornflowerblue; */
}

.marquee__wrapper--b {
    animation: calc(var(--duration) * 2) slide-3 infinite linear;
}

@keyframes slide-1 {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-100%);
  }
}


@keyframes slide-2 {
  0% {
    transform: translateX(100%);
  }

  100% {
    transform: translateX(-100%);
  }
}


@keyframes slide-3 {
  0% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(-200%);
  }
}
.font {
  font-size :30px
}